body { 
  background: url(../img/background.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

textarea {
    resize: none;
}

#user-name {
  margin-top: 15px;
}

#message, #add-message-btn {
  margin-bottom: 15px;
}

textarea#message {
  height: 80px;
}

#messages {
  background-color: rgba(255, 255, 255, 0.6);
  border-radius: 4px;
  width: 100%;
}

#messages-list {
  list-style-type: none;
  padding: 5px;
}