@import 'https://fonts.googleapis.com/css?family=Pacifico';

#navbar {
  font-family: 'Pacifico', cursive;
  text-transform: uppercase;
  font-weight: 100;
  padding: 5px;
}

#navbar a {
  padding: 5px;
  margin: 20px;
  border-bottom: 2px double #3bcbd5;
  transition: font-size 1s, color 1s;
}

#navbar a:link, #navbar a:visited {
  color: black;
}

#navbar a:hover {
  font-size: 120%;
  color: #ec0081;
}

#navbar a:active {
  color: yellow;
}

#navbar a {
  text-decoration: none;
}

