@import 'https://fonts.googleapis.com/css?family=Prompt:200,300,400,700';

/*
3 things for css:
1. selector
2. property to change
3. value to change that property to
*/

.container {
  background-color: aquamarine;
  letter-spacing: 3px;
}

body {
  font-family: 'Prompt', sans-serif;
  background-image: url("../img/music.jpg");
  /*background-repeat: no-repeat;*/
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
  
  /*background: url("img/music.jpg") no-repeat center center fixed; */
  
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

li {
  list-style-type: none;
  display: inline;
}