body { 
  background: url("../img/tv.png") no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

#input-area {
  position: relative;
  top: 20px;
}

.show-name {
  font-family: fantasy;
  font-size: 120%;
  margin-top: 50px;
  text-align: center;
  font-weight: bold;
}

.summary {
  text-indent: 50px;
}