@import 'https://fonts.googleapis.com/css?family=Bungee+Inline|Indie+Flower';

* {  
  font-family: 'Indie Flower', cursive;
  font-size: 110%;
}

#logo {
  height: 40px;
  margin-left: -100px;
  margin-right: 100px;
}

#nav {
  background-color: olivedrab;
  padding: 10px;
  position: fixed;
  top: 0;
  width: 100%;
  left: 0;
  font-family: 'Bungee Inline', cursive;
  text-align: center;
}

#nav a {
  font-family: 'Bungee Inline', cursive;
  transition: font-size 1s;
}

#giraffe-img {
  height: 100px;
  border: 1.5px solid red;
  border-radius: 10px;
  padding: 10px;
  transition: height 2s, transform 2s;
  transform: rotate(10deg);
}

#giraffe-img:hover {
  height: 200px;
  transform: rotate(360deg);
}

a:link {
    color: #c82941;
}

a:visited {
    color: #490755;
}

a:hover {
    color: #FF00FF;
    font-size: 140%;
}

a.active {
  color: white;
}

#my-pet {
  margin-top: 80px;
  text-align: center;
}

.margin-top-120 {
  margin-top: 120px;
}

#container {
  margin-top: 50px;
  text-align: center;
}


