#main {
  background-image: url("../img/coffee-home.jpg");
  background-size: cover;
  height: 60vh;
}

.margin-zero {
  margin: 0;
}

.jumbotron .text-white {
  color: white;
  text-shadow: 3px 3px 5px #888888;
}

.vcenter {
  /* For centering vertically */
  display: flex;
  align-items: center;
}

.navbar-custom {
  background-color: rgba(97, 46, 14, 0.69);
}

.navbar-custom .navbar-nav>li>a:hover {
  background-color: rgb(236, 71, 219);
}