
@import 'https://fonts.googleapis.com/css?family=Prompt:200,300,400,700';
.container{
background-color: aqua;

letter-spacing:20px;
text-decoration: underline;

}

body
{
  background: url("../img/music.jpg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  font-family: 'Prompt', sans-serif;

}

ul
{
    list-style-type: none;
}

li
{
display: inline;
list-style-type: none;
padding-right: 5px;
}
